body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #002897;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

#videos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.video-wrapper {
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

.video-wrapper iframe {
  width: 100%;
}

.input-group {
  margin-bottom: 10px;
}

.slider {
  width: 100%;
}

#controls {
  text-align: center;
  margin-top: 20px;
}

#controls input[type="text"] {
  width: calc(90% - 42px); 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

#controls button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#controls button:hover {
  background-color: #0056b3;
}


@media screen and (max-width: 600px) {
  #controls {
    flex-direction: column;
    align-items: center; 
  }

  #controls input[type="text"] {
    width: calc(90% - 20px); 
    margin-right: 0;
  }

  #controls button {
    width: calc(50% - 20px);
    margin-top: 10px;
  }
}



.volume-icon {

  font-size: 1.2em;
  color: #3363ff;
}

.video-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}


.volume-container {
  display: flex; 
  align-items: center; 
}

.remove-btn {
  margin-left: 25%;
  padding: 5px 10px;
  border: none;
  background-color: #f0ffe1; 
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: #ffb2a8;
}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
  border: 2px solid #3498db; 
  border-radius: 4px;
  cursor: pointer;
}

label {
  font-size: 18px;
  color: #333;
  cursor: pointer;
}

#globalControls {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
  height: 100vh; 
}





/* Global styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}


#videos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

#controls {
  text-align: center;
  margin: 20px auto;
}

/* Styling for small screens (mobile) */
@media screen and (max-width: 600px) {
  header h1 {
    font-size: 20px;
  }
}

/* Styling for big screens (desktop) */
@media screen and (min-width: 601px) {
  header h1 {
    font-size: 28px;
  }

  #videos-container {
    padding: 40px;
  }
}

/* Styles for global controls */
#goblaControls {
  text-align: center;
  margin-top: 20px;
}

/* Optional: Style the checkbox label */
#goblaControls label {
  margin-left: 5px;
  font-size: 16px;
  color: #333;
}
